body{
    background: linear-gradient(skyblue, lightgreen);
    /* background-image: url(images/FPTU.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center;
    background-size: cover;
}
h1{
    color: red;
    font-family: "consolas", sans-serif;
    /* text-shadow: 0 0 3px #FF0000, 0 -5px 5px #0000FF; */
    text-shadow: 0px 0px 3px green, 0px -5p 5px black ; 

}
#box1{

    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: lightblue;

    position: relative;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}
#box2{
    border: 1px solid;
    height: 250px;
    width: 250px;
    background-color: lightcoral;
    position: absolute;
    top: 25px;
    left: 25px;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button:hover{

    background-color: green;
    color: aqua;
}
.button:active{
    background-color: yellow;
}
#button2:hover{

    background-color: red;
}
#button2:active{
    background-color: blue;
}